#easy-solved-type {
  fill: #2cbb5d !important;
}
#medium-solved-type {
  fill: #ffb800 !important;
}
#hard-solved-type {
  fill: #ef4743 !important;
}
#easy-solved-count,
#medium-solved-count,
#hard-solved-count,
#total-solved-text,
#ranking {
  fill: #fff176 !important;
}
