*{
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    padding-top: 10px;
    margin-left: 40px;
}
.items li{
    margin-left: 15px;
    padding-left: 50px;
    display: inline-block;
    color: rgb(167, 101, 101);
    cursor: pointer;
}
.navbar{
    padding-left: 30%;
    padding-top: 20px;
}
.nav-container{
    display: flex;
    padding-top: 15px;
    text-decoration: solid;
    font-weight:bold;
}
.data{
    padding-top: 15%;
    padding-left: 10%;
}
.box{
    margin-left: 58%;
    margin-top: -15%;
    width: 25vw;
    height: 35vh;
    background-image: linear-gradient(red,blue);
}